# Introducción a la Ciencia de Datos: Tarea 1

Este notebook contiene el código de base para realizar la Tarea 1 del curso. Puede copiarlo en su propio repositorio y trabajar sobre el mismo.
Las **instrucciones para ejecutar el notebook** están en la [página inicial del repositorio](https://github.com/DonBraulio/introCD).

Se utiliza el lenguaje Python y la librería Pandas. Si no tiene ninguna familiaridad con la librería, se recomienda realizar algún tutorial introductorio (ver debajo).
También se espera que los alumnos sean proactivos a la hora de consultar las documentaciones de las librerías y del lenguaje, para entender el código provisto.
Además de los recursos provistos en la [página del curso](https://eva.fing.edu.uy/course/view.php?id=1378&section=1), los siguientes recursos le pueden resultar interesantes:
 - [Pandas getting started](https://pandas.pydata.org/docs/getting_started/index.html#getting-started) y [10 minutes to pandas](https://pandas.pydata.org/docs/user_guide/10min.html): Son parte de la documentación en la página oficial de Pandas.
 - [Kaggle Learn](https://www.kaggle.com/learn): Incluye tutoriales de Python y Pandas.


Si desea utilizar el lenguaje R y está dispuesto a no utilizar (o traducir) este código de base, también puede hacerlo.

En cualquier caso, **se espera que no sea necesario revisar el código para corregir la tarea**, ya que todos los resultados y análisis relevantes deberían estar en el **informe en formato PDF**.

## Cargar bibliotecas (dependencias)
Recuerde instalar los requerimientos (`requirements.txt`) en el mismo entorno donde está ejecutando este notebook (ver [README](https://github.com/DonBraulio/introCD)).

In [1]:
%pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.8/44.8 kB 834.3 kB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.0

In [1]:
from time import time
from pathlib import Path

import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
import pymysql

## Conexión a la Base y Lectura de Datos

In [2]:
# Creamos el directorio Tarea_1/data/shakespeare
conn_str = "mysql+pymysql://guest:relational@db.relational-data.org:3306/Shakespeare"
engine = create_engine(conn_str)

# Checkeo unicidad de characters por paragraph

In [3]:
with engine.connect() as conn:
    query = """
    SELECT paragraphs.id, count(characters.id) chars_count FROM paragraphs
    left join characters on paragraphs.character_id = characters.id
    group by paragraphs.id
    order by chars_count desc
    """
    res = pd.read_sql(sql=query, con=conn.connection)
res

/var/folders/gx/tpcxbz7d57zf7hdcpfs0s2hdzq_sln/T/ipykernel_67407/1244905004.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  res = pd.read_sql(sql=query, con=conn.connection)

           id  chars_count
0      658955            1
1      658956            1
2      658957            1
3      658958            1
4      658959            1
...       ...          ...
35460  658950            1
35461  658951            1
35462  658952            1
35463  658953            1
35464  658954            1

[35465 rows x 2 columns]

# Cantidad de personajes con el mismo nombre

In [3]:
with engine.connect() as conn:
    query = """
    SELECT charName, count(*) chars_count FROM characters
    group by charName
    order by chars_count desc
    """
    res = pd.read_sql(sql=query, con=conn.connection)
res

/var/folders/gx/tpcxbz7d57zf7hdcpfs0s2hdzq_sln/T/ipykernel_71146/1653503553.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  res = pd.read_sql(sql=query, con=conn.connection)

             charName  chars_count
0                 All           23
1           Messenger           23
2             Servant           21
3                Lord            9
4     First Gentleman            8
..                ...          ...
952      Duke of York            1
953    Young Clifford            1
954  Young Coriolanus            1
955      Young Lucius            1
956      Young Siward            1

[957 rows x 2 columns]